.message {
    text-align: right;
    width: 100%;
    border: 1px solid red;
    padding: 10px 20px;
    box-shadow: 0 0 25px grey;
    border-radius: 25px;
    background-color: white;
    margin: 5px;
}

.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: linear-gradient(45deg, #47f95c, #5ac6f5);
    height: 100vh;
    padding: 20px 0;
    align-items: center;
    overflow: scroll;
}

.text {
    font-size: 20px;
}

.input {
    width: 50%;
    height: 50px;
    padding: 10px 20px;
}
.messageList {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-bottom: 20px;
}
.button {
    width: 100%;
    background-color: white;
    padding: 10px 0;
}